@font-face {
	font-family: 'ContinentalStagSansW';
	src: url('ContinentalStagSans-Light-Web.woff2') format('woff2'),
		 url('ContinentalStagSans-Light-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	}

.ContinentalStagSans-Light-Web {
	font-family: 'ContinentalStagSansW';
	font-weight: 300;
	font-style: normal;
	}
